  body {
    background-image: url("img/bg.gif");
    text-align: center;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-evenly; 
    align-items: center;    
    flex-basis: 1;
    padding: 2vw;
    gap: 2vw;
  }
  
  .container > div {
    background-color: rgb(255, 255, 255);
    border: 0px solid #ffffff;
    padding: 2vw;
  }
  
  .photo {
    padding: 0px !important;
    margin: 0.5rem;
    image: 3rem;
  }
  
  .photo > img {
    display: block;
  }
  
  .music {
    margin: 1rem;
  }
  
  .important {
    box-shadow: 0px 0px 2rem 2rem white;
  }
  
  .unimportant {
    box-shadow: 0px 0px 1rem 1rem white;
    border-radius: 2rem;
  }
  
  #introduction {
    margin: 3vw;
  }
  
  #contact-me a {
    font-weight: bold;
    font-size: 2rem;
    padding: 3rem;
    vertical-align:super;
  }
  
  #title {
    font-size: 4vw;
    margin: 2rem;
    text-decoration: none;
  }
  
  #title:hover {
    color: white;
  }
  
  #photobooth {
    flex: 30%;
  }
  
  #work:hover {
    filter:hue-rotate(-60deg);
  }
  
  #skills:hover {
    filter:hue-rotate(-60deg);
  }

  #hi {
    margin: 6em;
  }

  @media screen and (max-width: 1200px) {
    #title {
        font-size: 7vw;
        margin: 1rem;
    }
  }
  
  /* HIDDENS */
  
  /* #hi{display:none;} */