html {
  background-color: #dee9e7;
}

body {
  margin: 40px auto;
  max-width: 1200px;
  line-height: 1.6;
  font-size: 18px;
  color: #333;
  padding: 0 10px;
}

p {
  font-size: 18px;
  text-align: left;
  margin: 0;
  padding-top: 1rem;
  color: #333;
}

h1 {
  line-height: 0.5;
  text-align: center;
  font-size: 121.5px;
  font-weight: normal;
  margin: 7.5vw 0 1rem 0;
  color: #333;
}

h2 {
  font-size: 81px;
}

h3 {
  font-size: 24px;
  text-align: center;
  margin: 0 0 1rem 0;
  color: #333;
}

a {
  color: rgb(117, 102, 255);
}

a:visited {
  color: rgb(117, 102, 255);
}

.imgbox {
  max-width: 100%;
  height: auto;
  padding: 0rem 0rem 0rem 0rem;
}

img {
  display: block;
  box-shadow: 0px 0px 30px 0px #white;
}

#splash-mobile {
  display: none;
}

@media screen and (max-width: 1200px) {
  body {
    padding: 0%;
  }

  p {
    font-size 16px;
    padding-left: 1rem;
  }
  
  h1 {
    font-size: 64px;
  }
  #splash {
    display: none;
  }

  #splash-mobile {
    display: block;
    max-width: 100%;
  }

  img {
    object-fit: cover; object-position: 100% 0;
  }

  
}