html {
  overscroll-behavior: none;
}

body {
  color: #333;
}

h1, h2 {
  font-family: 'Palatino', serif;
  font-weight: bold;
}

p, h3, li {
  font-weight: normal;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
  /* text-decoration: none; */
}

a:visited {
  /* color: initial; */
}

::-webkit-scrollbar {
  width: 0.5em;
}
 
::-webkit-scrollbar-track {
  background-color: none;
}
 
::-webkit-scrollbar-thumb {
  background-color: rgb(231, 255, 113);
}
